<br>
 <div class="jumbotron">
   <h1>Blocmetrics</h1>
   <p>Blocmetrics is an API Tracking Service and Reporting Tool</p>
 </div>

 <div class="row">
   <div class="col-md-4">
     <h2>Free Membership</h2>
     <p>Blocmetrics has what it takes to track your events and registered applications. Get started today.</p>
   </div>
   <div class="col-md-4">
     <h2>Track Your Events and Applications</h2>
     <p>Click Here to Track Your Registered Applications</p>
   </div>
   <div class="col-md-4">
     <h2>About Blocmetrics</h2>
     <p>Learn More About Our Application</p>
   </div>
 </div>
